body {
    background-color: rgb(221, 204, 204);
    font-family: 'Raleway';
}

h1 {
color: lightcoral;
text-shadow: 4px 4px 4px rgb(230, 181, 181);
}

.banner {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    padding: 8px;
    background-color: lightcoral;
    color: white;
    font-family: 'Raleway';
    opacity: 0.5;
    font-size: smaller;
}

#laugh {
    height: 500px;
} 
